@media (min-width: 768px) {
    .galleryCardContainer {
        width: 100%;
    
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        border-radius: 25px;
    }
    
    .galleryCard {
        max-width: 340px;
        height: 340px;
    
        position: relative;
        top: 56px;
    
        background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    
        border-radius: 15px;
    
        margin: 0 20px 50px 20px;
    } 
    .galleryCard::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        z-index: 0;
    }
    
    .cardImg {
        max-width: 340px;
        height: 340px;
        border-radius: 10px;
        background: #FF6060;
    
        object-fit: cover;
    }
    
    .cardTitle {
        width: 300px;
        height: 52px;
    
        position: absolute;
        top: 268px;
        left: 20px;
    
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.67px;
        color: #FFF;
    }
}

@media (max-width: 768px) {
    .galleryCardContainer {
        width: 100%;
    
        flex-wrap: wrap;
        justify-content: center;

        margin: 0 auto;
        border-radius: 25px;
    }
    
    .galleryCard {
        width: 100%;
        height: 255px;
    
        position: relative;
        top: 56px;
    
        background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    
        border-radius: 10px;
    
        margin: 0 0 20px 0;

        transform: translateY(-30px);
    } 
    .galleryCard::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        z-index: 0;
    }
    
    .cardImg {
        width: 100%;
        height: 255px;

        border-radius: 10px;
        background: #FF6060;
    
        object-fit: cover;
    }
    
    .cardTitle {
        position: absolute;
        width: 85%;
        height: 52px;
    
        top: 177px;
        left: 20px;

        word-wrap: normal;
    
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.67px;
        color: #FFF;
    }
}