.galleryCardContainer {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 25px;
}

.galleryCard {
    max-width: 340px;
    height: 340px !important;

    position: relative;
    top: 56px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

    display: flex;

    border-radius: 15px;

    margin: 0 20px 50px 20px;
} 

.cardImg {
    max-width: 340px;
    height: 340px;
    border-radius: 10px;
    background: #FF6060;

    object-fit: cover;

}

.cardTitle {
    width: 300px;
    height: 52px;

    position: absolute;
    top: 268px;
    left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    color: #FFF;
}