@media (min-width: 768px) {
    .header {
        margin-top: 50px;
        width: 80%;
        height: 68px;
        background-color: #fff;
    }

    .svgHeaderLogo {
        width: 211px;
        height: 68px;
    }
    
    .headerNav {
        width: 309px;
        justify-content: space-between;
    }
    
    .navItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #FF6060;
        text-decoration: none;
    
        width: 136px;
        text-align: right;
    }
    .navItem:hover {
        color: #FF6060;
        text-decoration: underline;
    }
    
    .active {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .header {
        margin-top: 20px;
        width: 90%;
        height: 47px;
        background-color: #fff;
    }
    
    .svgHeaderLogo {
        width: 145px;
        height: 47px;
    }

    .headerNav {
        width: 140px;
        justify-content: space-between;
    }
    
    .navItem {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #FF6060;
        text-decoration: none;
    
        width: 136px;
        text-align: right;
    }
    .navItem:hover {
        color: #FF6060;
        text-decoration: underline;
    }
    
    .active {
        text-decoration: underline;
    }
}